@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

:root {
    --navbar-height: 55px;
    --nav-bg-color: #2990ff;
    --nav-border: 1.5px solid rgba(181, 180, 178, 0.884);
}

/* Navbar */
.navbar {
    height: var(--navbar-height);
    width: 100%;
    padding-left: 5px;
    background-color: var(--nav-bg-color);
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.app-logo-div {
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 48%;
}

#app {
    display: flex;
    font-size: 28px;
    font-family: 'Protest Riot', sans-serif;
    text-decoration: none;
}

#app>img {
    border-radius: 5px;
    margin-right: 5px;
    height: 35px;
}

#app>p {
    color: whitesmoke;
}

#app:hover {
    cursor: pointer;
}

.navbar-side-button-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.side-button {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
}

.side-button>svg {
    height: 30px;
    width: 30px;
    fill: white;
}

.side-button-hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.side-button-clicked {
    border-radius: 50%;
    transition: ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.type-div {
    margin-left: 0.5%;
}

#type {
    margin-top: -2px;
    font-size: 1.8rem;
    font-family: 'Diphylleia', serif;
    color: white;
    font-weight: bold;
    caret-color: transparent;
}

/* Profile dropdown */
.user-div {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    right: 1.25%;
    caret-color: transparent;
}

.login-signup {
    display: flex;
    gap: .5rem;
}

#login-button,
#signup-button {
    text-decoration: none;
    font-family: 'Diphylleia', serif;
    padding-top: .1rem;
    padding-bottom: .3rem;
    font-size: 1.15rem;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#signup-button {
    padding: .1rem 1rem .3rem 1rem;
    background-color: rgb(255, 112, 136);
    /* color: #005a8a;
    color: #000; */
}

#signup-button:hover {
    background-color: rgba(50, 131, 50, 0.906);
}

#login-button:hover {
    text-decoration: underline;
}

.dropdown-menu {
    position: absolute;
    top: 57px;
    right: 0;
    font-family: 'Diphylleia', serif;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -12px;
    /* Adjust the value to move the triangle up or down */
    right: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    /* Same color as the dropdown menu background */
}

.dropdown-menu button {
    width: 100%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-menu button:hover {
    background-color: #555;
}

.profile-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5d4037ef;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-initial:hover {
    border: none;
    box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.537);
}

.profile-container-open {
    border: none;
    box-shadow: 0 0 1px 3px rgba(229, 228, 228, 0.744);
}

.profile-container {
    position: relative;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        height: 60px;
    }

    .side-button {
        height: 30px;
        width: 30px;
    }

    .side-button>svg {
        height: 20px;
        width: 20px;
    }

    .side-button-hover {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.562);
        cursor: pointer;
    }

    .app-logo-div {
        left: 40%;
        width: 150px;
    }

    #app>img {
        margin-right: 5px;
        height: 30px;
    }

    .type-div {
        margin-left: 10px;
    }

    #app,
    .user-div,
    #type {
        font-size: 20px;
    }
}

@media screen and (max-width: 496px) {
    .type-div {
        display: none;
    }

    .app-logo-div {
        left: 20px;
    }
}